body ul.tlt-menu {
  --transition-default: all 300ms ease-in-out;
  --arrow-color: #fcfcfc;
  --drawer-background: #fcfcfc;
  --text-color: #000000;
  --button-bg-default: #0f6292;
  --button-bg-hocus: #0d77b5;
}
